In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [2]:
bom = pd.read_csv('./data/bom.movie_gross.csv.gz')
tmdb = pd.read_csv('./data/tmdb.movies.csv.gz')
tn = pd.read_csv('./data/tn.movie_budgets.csv.gz')

In [3]:
#looking at the head of each to see where they can be merge
#Also, looking for any columns of interest from each and deciding what to do
bom.head(1)

         title studio  domestic_gross foreign_gross  year
0  Toy Story 3     BV     415000000.0     652000000  2010

In [4]:
tmdb.head(1)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788

In [5]:
tn.head(1)

   id  release_date   movie production_budget domestic_gross worldwide_gross
0   1  Dec 18, 2009  Avatar      $425,000,000   $760,507,625  $2,776,345,279

In [6]:
#creation of the merged table betweeen bom and tmdb
rating_and_gross = bom.merge(tmdb, how='inner', left_on='title', right_on='title').sort_values('domestic_gross', ascending=False).head(20)

In [7]:
#creation of merge table of the rating_and_gross with the tn table
budget_rating_gross =   rating_and_gross.merge(tn, how='inner', left_on='title', right_on='movie')

In [8]:
budget_rating_gross.shape

(16, 20)

In [9]:
#dropping unnecessary columns
clean_columns = budget_rating_gross.drop(['Unnamed: 0', 'genre_ids', 'original_title', 'domestic_gross_x', 'foreign_gross', 'movie', 'id_x', 'id_y'], axis=1)
clean_columns

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
1,Black Panther,BV,2018,en,2.058,2011-01-18,5.1,11,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
2,Avengers: Infinity War,BV,2018,en,80.773,2018-04-27,8.3,13948,"Apr 27, 2018","$300,000,000","$678,815,482","$2,048,134,200"
3,Jurassic World,Uni.,2015,en,20.709,2015-06-12,6.6,14056,"Jun 12, 2015","$215,000,000","$652,270,625","$1,648,854,864"
4,Incredibles 2,BV,2018,en,36.286,2018-06-15,7.6,6354,"Jun 15, 2018","$200,000,000","$608,581,744","$1,242,520,711"
5,Rogue One: A Star Wars Story,BV,2016,en,21.401,2016-12-16,7.5,9296,"Dec 16, 2016","$200,000,000","$532,177,324","$1,049,102,856"
6,Rogue One: A Star Wars Story,BV,2016,en,21.401,2016-12-16,7.5,9296,"Dec 16, 2016","$200,000,000","$532,177,324","$1,049,102,856"
7,Finding Dory,BV,2016,en,15.393,2016-06-17,7.0,7845,"Jun 17, 2016","$200,000,000","$486,295,561","$1,021,215,193"
8,Avengers: Age of Ultron,BV,2015,en,44.383,2015-05-01,7.3,13457,"May 1, 2015","$330,600,000","$459,005,868","$1,403,013,963"
9,The Dark Knight Rises,WB,2012,en,26.220,2012-07-20,7.7,13933,"Jul 20, 2012","$275,000,000","$448,139,099","$1,084,439,099"
10,The Hunger Games: Catching Fire,LGF,2013,en,20.187,2013-11-22,7.4,11170,"Nov 22, 2013","$130,000,000","$424,668,047","$864,868,047"
11,Jurassic World: Fallen Kingdom,Uni.,2018,en,34.958,2018-06-22,6.5,5995,"Jun 22, 2018","$170,000,000","$417,719,760","$1,305,772,799"
12,Toy Story 3,BV,2010,en,24.445,2010-06-17,7.7,8340,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
13,Wonder Woman,WB,2017,en,31.618,2017-06-02,7.3,12566,"Jun 2, 2017","$150,000,000","$412,563,408","$821,133,378"
14,Wonder Woman,WB,2017,en,2.841,2013-09-29,5.9,34,"Jun 2, 2017","$150,000,000","$412,563,408","$821,133,378"
15,Iron Man 3,BV,2013,en,32.093,2013-05-03,6.9,14155,"May 3, 2013","$200,000,000","$408,992,272","$1,215,392,272"

In [10]:
#check type of each column
clean_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              16 non-null     object
 1   studio             16 non-null     object
 2   year               16 non-null     int64
 3   original_language  16 non-null     object
 4   popularity         16 non-null     float64
 5   release_date_x     16 non-null     object
 6   vote_average       16 non-null     float64
 7   vote_count         16 non-null     int64
 8   release_date_y     16 non-null     object
 9   production_budget  16 non-null     object
 10  domestic_gross_y   16 non-null     object
 11  worldwide_gross    16 non-null     object
dtypes: float64(2), int64(2), object(8)
memory usage: 1.6+ KB

In [11]:
#cleaning and converting worldwide_gross into int
clean_columns['worldwide_gross'] = clean_columns['worldwide_gross'].str.replace('$', '')
clean_columns['worldwide_gross'] = clean_columns['worldwide_gross'].str.replace(',', '')
clean_columns['worldwide_gross'] = clean_columns['worldwide_gross'].astype(int)

In [12]:
clean_columns['domestic_gross_y'] = clean_columns['domestic_gross_y'].str.replace('$', '')
clean_columns['domestic_gross_y'] = clean_columns['domestic_gross_y'].str.replace(',', '')
clean_columns['domestic_gross_y'] = clean_columns['domestic_gross_y'].astype(int)

In [13]:
clean_columns['production_budget'] = clean_columns['production_budget'].str.replace('$', '')
clean_columns['production_budget'] = clean_columns['production_budget'].str.replace(',', '')

In [14]:
#verify that worldwide_gross, domestic_gross_y, and production_budget are int
clean_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              16 non-null     object
 1   studio             16 non-null     object
 2   year               16 non-null     int64
 3   original_language  16 non-null     object
 4   popularity         16 non-null     float64
 5   release_date_x     16 non-null     object
 6   vote_average       16 non-null     float64
 7   vote_count         16 non-null     int64
 8   release_date_y     16 non-null     object
 9   production_budget  16 non-null     object
 10  domestic_gross_y   16 non-null     int64
 11  worldwide_gross    16 non-null     int64
dtypes: float64(2), int64(4), object(6)
memory usage: 1.6+ KB

In [15]:
#addition of foreign_gross to dataframe
clean_columns['foreign_gross'] = clean_columns['worldwide_gross'] - clean_columns['domestic_gross_y']

In [16]:
#addition of gross to production budget ratio
clean_columns['gross_to_budget_ratio'] = clean_columns['worldwide_gross'] / clean_columns['production_budget']

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [ ]:
#sorting values by gross_to_budget 
clean_columns.sort_values(by='gross_to_budget_ratio', ascending=False)

In [ ]:
#dropping exact row duplicates
test_clean_columns = clean_columns.drop_duplicates()

In [ ]:
#dropping duplicates where the title name is the same but other values are wrong
vote_count_max = test_clean_columns.groupby(['title','studio']).vote_count.transform(max)
movies_clean = test_clean_columns.loc[test_clean_columns.vote_count == vote_count_max]

In [ ]:
#verifying the shape of movies_clean
movies_clean.shape

In [ ]:
#sorting dataframe by gross_to_budget_ratio
movies_clean.sort_values(['gross_to_budget_ratio'], ascending=False)

In [ ]:
#verifying that there's no null values
movies_clean.info()

In [ ]:
#Quick glance at the information of the dataset
movies_clean.describe()

In [ ]:
#Preping for graphing

import numpy as np

In [ ]:
#MAke to help determining bounds of the graph
q3, q1 = np.percentile(movies_clean['gross_to_budget_ratio'], [75, 25])
q3, q1
iqr = q3-q1

lower_limit = movies_clean['gross_to_budget_ratio'].mean()-(iqr*1.5)

upper_limit = movies_clean['gross_to_budget_ratio'].mean()+(iqr*1.5)

lower_limit, upper_limit

In [ ]:
#limiting data to the upper limit of the iqr
movies_oultierless = movies_clean[movies_clean['gross_to_budget_ratio']<upper_limit]
movies_oultierless

In [ ]:
#graph of movies_oultierless
fig, ax = plt.subplots(figsize=(10,10),)
ax.ticklabel_format(style='plain')
ax.scatter(movies_oultierless['production_budget'] , y = movies_oultierless['worldwide_gross'], alpha = .4);

In [ ]:
#graph for movies_oultierless
np.corrcoef(movies_oultierless['production_budget'] , y = movies_oultierless['worldwide_gross'])
#almost a 1:1 correlation

In [ ]:
#Finding the iqr from movies_without_wwg_outliers
q3, q1 = np.percentile(movies_clean['worldwide_gross'], [75, 25])
q3, q1
iqr = q3-q1

lower_limit_wwg = movies_clean['worldwide_gross'].mean()-(iqr*1.5)

upper_limit_wwg = movies_clean['worldwide_gross'].mean()+(iqr*1.5)

lower_limit_wwg, upper_limit_wwg

In [ ]:
#limiting data to upper limit
movies_without_wwg_outliers = movies_clean[movies_clean['worldwide_gross']<upper_limit_wwg]

In [ ]:
#finding the iqr of the movies_without_wwg_or_pb_outliers
q3, q1 = np.percentile(movies_without_wwg_outliers['production_budget'], [75, 25])
q3, q1
iqr = q3-q1

lower_limit_pb = movies_without_wwg_outliers['production_budget'].mean()-(iqr*1.5)

upper_limit_pb = movies_without_wwg_outliers['production_budget'].mean()+(iqr*1.5)

lower_limit_pb, upper_limit_pb

In [ ]:
#setting the upper limit 
movies_without_wwg_or_pb_outliers = movies_without_wwg_outliers[movies_without_wwg_outliers['production_budget']<upper_limit_pb]

In [ ]:
#graph for movies_without_wwg_or_pb_outliers
fig, ax = plt.subplots(figsize=(10,10),)
ax.ticklabel_format(style='plain')
ax.scatter(movies_without_wwg_or_pb_outliers['production_budget'] , y = movies_without_wwg_or_pb_outliers['worldwide_gross'], alpha = .4);

In [ ]:
#checking the correlation coefficient of movies_without_wwg_or_pb_outliers
np.corrcoef(movies_without_wwg_or_pb_outliers['production_budget'] , y = movies_without_wwg_or_pb_outliers['worldwide_gross'])
#postive correlation but not as strong as the movie_oultierless

In [ ]:
#looking at who the potential competitors are
movies_clean['studio'].value_counts()

In [ ]:
top_ten_most_common_studios = movies_clean['studio'].value_counts().head(20)
top_ten_most_common_studios.index #verifying that there's 20 names

In [ ]:
#visualizing the top_ten_most_common_studios
#tells us how many movies they've made between 2010-2018
fig, ax = plt.subplots(figsize=(10,10))

ax.bar(x=top_ten_most_common_studios.index.astype(str), height=top_ten_most_common_studios);
#most common competitors
#Where is Disney? BV = Disney. Did they buy one of these companies, Who owns who?
#We have a WB and WB (NL), we have Fox and FoxS

In [ ]:
#other EDAs

In [ ]:
#vote_average vs worldwide_gross
fig, ax = plt.subplots(figsize=(10,10),)
ax.ticklabel_format(style='plain')
ax.scatter(movies_clean['vote_average'] , y = movies_clean['worldwide_gross'])

In [ ]:
#looking at correlation
#not that strong, slight positive but overall no reccommend to talk about?
np.corrcoef(movies_clean['vote_average'] , y = movies_clean['worldwide_gross'])

In [ ]:
#popularity vs worldwide_gross
fig, ax = plt.subplots(figsize=(10,10),)
ax.ticklabel_format(style='plain')
ax.scatter(movies_clean['popularity'] , y = movies_clean['worldwide_gross']);

In [ ]:
#decent positive relationship
np.corrcoef(movies_clean['popularity'] , y = movies_clean['worldwide_gross'])

In [ ]:
#vote_count vs vote_average
fig, ax = plt.subplots(figsize=(10,10),)
ax.ticklabel_format(style='plain')
ax.scatter(movies_clean['vote_count'] , y = movies_clean['vote_average']);

In [ ]:
#positve correlation, don't know where .4 stands
np.corrcoef(movies_clean['vote_count'] , y = movies_clean['vote_average'])

In [ ]:
#vote_count vs worldwide_gross
fig, ax = plt.subplots(figsize=(10,10),)
ax.ticklabel_format(style='plain')
ax.scatter(movies_clean['vote_count'] , y = movies_clean['worldwide_gross']);

In [ ]:
#strong positive correlation 
np.corrcoef(movies_clean['vote_count'] , y = movies_clean['worldwide_gross'])

In [ ]:
#looking at how much each studio makes per movie
#some of these studios didn't show up in the most common studios
#meaning they produce less films but make more per
studio_average_wwg = movies_clean.groupby(['studio']).mean(['worldwide_gross']).sort_values(['worldwide_gross'], ascending=False).head(20)
studio_average_wwg

In [ ]:
#studio vs average worldwide_gross per movie
fig, ax = plt.subplots(figsize=(10,10))

ax.bar(x=studio_average_wwg.index.astype(str), height=studio_average_wwg['worldwide_gross']);

In [ ]:
#studio v popularity
studio_popularity = movies_clean.groupby(['studio']).mean(['popularity']).sort_values(['popularity'], ascending=False).head(20)
studio_popularity

In [ ]:
#graph of studio vs popularity
fig, ax = plt.subplots(figsize=(10,10))

ax.bar(x=studio_popularity.index.astype(str), height=studio_popularity['popularity']);

In [ ]:
#studio v vote_average
studio_vote_average = movies_clean.groupby(['studio']).mean(['vote_average']).sort_values(['vote_average'], ascending=False).head(20)
studio_vote_average

In [ ]:
#studio vs vote_average
fig, ax = plt.subplots(figsize=(10,10))

ax.bar(x=studio_vote_average.index.astype(str), height=studio_vote_average['vote_average']);

In [ ]:
#no clue what this is about
studio_vote_count = movies_clean.groupby(['studio']).mean(['vote_count']).sort_values(['vote_count'], ascending=False).head(20)
studio_vote_count

In [ ]:
#studio and vote_count
fig, ax = plt.subplots(figsize=(10,10))

ax.bar(x=studio_vote_count.index.astype(str), height=studio_vote_count['vote_count']);

In [ ]:
import zipfile as zf
import os

In [ ]:
files = zf.ZipFile('./data/im.db.zip', 'r') #these lines create a im.db file which is too big to push
files.extractall() #these lines create a im.db file which is too big to push

In [ ]:
con = sqlite3.connect("./im.db")

In [ ]:
titles = pd.read_sql("""
Select * 

From movie_basics
            
""", con)
titles

In [ ]:
rating = pd.read_sql("""
Select * 

From movie_ratings
            
""", con)

rating

In [ ]:
sql_df = pd.read_sql('''
    SELECT *
    
    FROM
    movie_ratings
    
    INNER JOIN movie_basics
        USING(movie_id) 
     
     WHERE numvotes >= 1000
     
     ORDER BY 
         averagerating DESC
    
    LIMIT 20
''', con)

#We need to choose and averagerating number for a WHERE clause
#If we feel like we need more ratings data we can combine this with budget_rating_gross

In [ ]:
#examining the df for potential analysis and cleaning
sql_df.head()

In [ ]:
#genre column splitting

In [ ]:
#other EDAs

In [ ]:
#genres vs averagerating
genres_average_rating = sql_df.groupby(['genres']).mean(['averagerating']).sort_values(['averagerating'], ascending=False).head(20)
genres_average_rating

In [ ]:
fig, ax = plt.subplots(figsize=(10,10))

ax.bar(x=genres_average_rating.index.astype(str), height=genres_average_rating['averagerating']);

In [ ]:
#runtime_minutes vs start_year
runtime_year = sql_df.groupby(['start_year']).mean(['runtime_minutes']).sort_values(['start_year'])
runtime_year

In [ ]:
fig, ax = plt.subplots(figsize=(10,10))

ax.bar(x=runtime_year.index.astype(str), height=runtime_year['runtime_minutes']);

In [ ]:
#stong positive correlation
#movies are getting longer!
np.corrcoef(runtime_year.index , y = runtime_year['runtime_minutes'])

In [ ]:
con.close() #have this in case file refuses to close

In [ ]:
os.remove('im.db') #This line deletes the im.db file created earlier.