In [ ]:
import pandas as pd

Below is a csv table with movie names, a studio abbreviation, the domestic gross, the foreign gross, and the year.

In [ ]:
bom = pd.read_csv('./data/bom.movie_gross.csv.gz')
pd.read_csv('./data/bom.movie_gross.csv.gz')

In [ ]:
bom['foreign_gross'].isnull().sum() #keep
bom['studio'].isnull().sum() #keep until we merge

In [ ]:
df = pd.read_csv('./data/rt.movie_info.tsv.gz', delimiter = '\t')

#pd.read_csv('./data/rt.movie_info.tsv.gz', delimiter = '\t')

In [ ]:
df['box_office'].isnull().sum() #too much nullvalues to be able use this dataset
                                #no name section so can't do much

In [ ]:
#this one has some funky encoding in it? It doesn't use utf-8 but latin1
# utf-8 and latin1 are the most common encoding but there can be others

# pd.read_csv('./data/rt.reviews.tsv.gz', delimiter = '\t', encoding= 'latin1' )

In [ ]:
tmdb = pd.read_csv('./data/tmdb.movies.csv.gz')
pd.read_csv('./data/tmdb.movies.csv.gz')

In [ ]:
tmdb['vote_count'].isnull().sum()

In [ ]:
tmdb['title'].isnull().sum()

In [ ]:
tmdb['original_title'].isnull().sum()

In [ ]:
tmdb['vote_count'].isnull().sum()

In [ ]:
tmdb['vote_average'].isnull().sum()

In [ ]:
tmdb['title'].unique().shape #deal with duplicates

In [ ]:
tmdb['release_date'].isnull().sum()

In [ ]:
tn = pd.read_csv('./data/tn.movie_budgets.csv.gz')
pd.read_csv('./data/tn.movie_budgets.csv.gz').head(1)
#check how many are 0 potentially but the zeros would make send in this case

In [ ]:
tn['release_date'].isnull().sum()

In [ ]:
tn['movie'].isnull().sum()

In [ ]:
tn['production_budget'].isnull().sum()

In [ ]:
tn['domestic_gross'].isnull().sum()

In [ ]:
tn['worldwide_gross'].isnull().sum()

In [1]:
import pandas as pd
import sqlite3
import zipfile as zf
import os

In [2]:
files = zf.ZipFile('./data/im.db.zip', 'r') #these lines create a im.db file which is too big to push
files.extractall() #these lines create a im.db file which is too big to push

In [3]:
con = sqlite3.connect("./im.db")

In [4]:
pd.read_sql("""
Select * 

From movie_basics
            
""", con).head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [5]:
#pd.read_sql("""
#Select * 

#From known_for
            
#""", con).head()

In [6]:
#pd.read_sql("""
#Select * 

#From movie_akas
            
#""", con).head()

In [7]:
#rating = pd.read_sql("""
#Select * 

#From movie_ratings
            
#""", con)

#rating

In [8]:
#rating['movie_id'].isnull().sum()

In [9]:
#rating['averagerating'].isnull().sum()

In [ ]:
#rating['numvotes'].isnull().sum()

In [ ]:
#pd.read_sql("""
#Select * 

#From persons
#where primary_profession like '%director%'
            
#""", con) #keep in back-pocket
        # maybe discuss in the next-steps

In [ ]:
#pd.read_sql("""
#Select * 

#From principals
            
#""", con).head()
#keep in back-pocket

In [ ]:
#pd.read_sql("""
#Select * 

#From writers
            
#""", con).head()
#back pocket?

In [5]:
con.close() #have this everytime just in case

In [6]:
os.remove('im.db') #This line deletes the im.db file created earlier.

NameError: name 'rating' is not defined