In [1]:
import pandas as pd

Below is a csv table with movie names, a studio abbreviation, the domestic gross, the foreign gross, and the year.

In [2]:
bom = pd.read_csv('./data/bom.movie_gross.csv.gz')
pd.read_csv('./data/bom.movie_gross.csv.gz')

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [3]:
bom['foreign_gross'].isnull().sum() #keep
bom['studio'].isnull().sum() #keep until we merge

5

In [4]:
df = pd.read_csv('./data/rt.movie_info.tsv.gz', delimiter = '\t')

#pd.read_csv('./data/rt.movie_info.tsv.gz', delimiter = '\t')

In [5]:
df['box_office'].isnull().sum() #too much nullvalues to be able use this dataset
                                #no name section so can't do much

1220

In [6]:
#this one has some funky encoding in it? It doesn't use utf-8 but latin1
# utf-8 and latin1 are the most common encoding but there can be others

# pd.read_csv('./data/rt.reviews.tsv.gz', delimiter = '\t', encoding= 'latin1' )

In [7]:
tmdb = pd.read_csv('./data/tmdb.movies.csv.gz')
pd.read_csv('./data/tmdb.movies.csv.gz')

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [8]:
rating_and_gross = bom.merge(tmdb, how='inner', left_on='title', right_on='title').sort_values('domestic_gross', ascending=False).head(20)

rating_and_gross

#The table seems to be sorting weird, we are going to have to figure out what is going on
#Anything over 1 billion with show up as 1,131.6 which is 1,131,600,000
#We need to look carefully at duplicates, for example index 2488 is the wrong black panther based on the number of reviews. The correct one is 2489.

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
1428,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015,14172,"[28, 12, 878, 14]",140607,en,Star Wars: The Force Awakens,32.281,2015-12-18,7.4,12641
1429,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015,17385,"[28, 12, 878, 14]",140607,en,Star Wars: The Force Awakens,32.281,2015-12-18,7.4,12641
2489,Black Panther,BV,700100000.0,646900000,2018,23817,"[28, 12, 14, 878]",284054,en,Black Panther,44.140,2018-02-16,7.4,12365
2488,Black Panther,BV,700100000.0,646900000,2018,3444,"[28, 16]",86841,en,Black Panther,2.058,2011-01-18,5.1,11
2487,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018,23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,8.3,13948
1430,Jurassic World,Uni.,652300000.0,"1,019.4",2015,14193,"[28, 12, 878, 53]",135397,en,Jurassic World,20.709,2015-06-12,6.6,14056
2188,Star Wars: The Last Jedi,BV,620200000.0,712400000,2017,23831,"[14, 12, 878, 28]",181808,en,Star Wars: The Last Jedi,34.293,2017-12-15,7.0,8534
2187,Star Wars: The Last Jedi,BV,620200000.0,712400000,2017,20624,"[14, 12, 878, 28]",181808,en,Star Wars: The Last Jedi,34.293,2017-12-15,7.0,8534
2491,Incredibles 2,BV,608600000.0,634200000,2018,23826,"[28, 12, 16, 10751]",260513,en,Incredibles 2,36.286,2018-06-15,7.6,6354
1818,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016,17401,"[28, 12, 878]",330459,en,Rogue One: A Star Wars Story,21.401,2016-12-16,7.5,9296
1819,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016,20655,"[28, 12, 878]",330459,en,Rogue One: A Star Wars Story,21.401,2016-12-16,7.5,9296
1820,Finding Dory,BV,486300000.0,542300000,2016,17454,"[12, 16, 35, 10751]",127380,en,Finding Dory,15.393,2016-06-17,7.0,7845
1432,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,7.3,13457
548,The Dark Knight Rises,WB,448100000.0,636800000,2012,5182,"[28, 80, 18, 53]",49026,en,The Dark Knight Rises,26.220,2012-07-20,7.7,13933
862,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013,7893,"[12, 28, 878]",101299,en,The Hunger Games: Catching Fire,20.187,2013-11-22,7.4,11170
2490,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018,23829,"[28, 12, 878]",351286,en,Jurassic World: Fallen Kingdom,34.958,2018-06-22,6.5,5995
0,Toy Story 3,BV,415000000.0,652000000,2010,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,7.7,8340
2198,Wonder Woman,WB,412600000.0,409300000,2017,20628,"[12, 14, 10752, 10749]",297762,en,Wonder Woman,31.618,2017-06-02,7.3,12566
2197,Wonder Woman,WB,412600000.0,409300000,2017,8674,"[28, 14]",241224,en,Wonder Woman,2.841,2013-09-29,5.9,34
859,Iron Man 3,BV,409000000.0,805800000,2013,7881,"[28, 12, 878]",68721,en,Iron Man 3,32.093,2013-05-03,6.9,14155

In [9]:
rating_and_gross[rating_and_gross['title']== 'Avengers: Age of Ultron']

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
1432,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,7.3,13457

In [10]:
tmdb['vote_count'].isnull().sum()

0

In [11]:
tmdb['title'].isnull().sum()

0

In [12]:
tmdb['original_title'].isnull().sum()

0

In [13]:
tmdb['vote_count'].isnull().sum()

0

In [14]:
tmdb['vote_average'].isnull().sum()

0

In [15]:
tmdb['title'].unique().shape #deal with duplicates

(24688,)

In [16]:
tmdb['release_date'].isnull().sum()

0

In [17]:
tn = pd.read_csv('./data/tn.movie_budgets.csv.gz')
pd.read_csv('./data/tn.movie_budgets.csv.gz')
#check how many are 0 potentially but the zeros would make send in this case

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [18]:
budget_rating_gross =   rating_and_gross.merge(tn, how='inner', left_on='title', right_on='movie')

In [19]:
budget_rating_gross
#for this new df we want to add 2 columns, the first will be worldwide_gross - production_budget, the second is the ratio of worldwide_gross/production budget
#After we delete duplicates, we want to do a .value_counts() on name so that if there is a duplicate similar to Black Panter
#Where there is an obvious error we can make decisions on a case by case basis.

,title,studio,domestic_gross_x,foreign_gross,year,Unnamed: 0,genre_ids,id_x,original_language,original_title,popularity,release_date_x,vote_average,vote_count,id_y,release_date_y,movie,production_budget,domestic_gross_y,worldwide_gross
0,Black Panther,BV,700100000.0,646900000,2018,23817,"[28, 12, 14, 878]",284054,en,Black Panther,44.140,2018-02-16,7.4,12365,42,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224"
1,Black Panther,BV,700100000.0,646900000,2018,3444,"[28, 16]",86841,en,Black Panther,2.058,2011-01-18,5.1,11,42,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224"
2,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018,23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,8.3,13948,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
3,Jurassic World,Uni.,652300000.0,"1,019.4",2015,14193,"[28, 12, 878, 53]",135397,en,Jurassic World,20.709,2015-06-12,6.6,14056,34,"Jun 12, 2015",Jurassic World,"$215,000,000","$652,270,625","$1,648,854,864"
4,Incredibles 2,BV,608600000.0,634200000,2018,23826,"[28, 12, 16, 10751]",260513,en,Incredibles 2,36.286,2018-06-15,7.6,6354,44,"Jun 15, 2018",Incredibles 2,"$200,000,000","$608,581,744","$1,242,520,711"
5,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016,17401,"[28, 12, 878]",330459,en,Rogue One: A Star Wars Story,21.401,2016-12-16,7.5,9296,45,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856"
6,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016,20655,"[28, 12, 878]",330459,en,Rogue One: A Star Wars Story,21.401,2016-12-16,7.5,9296,45,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856"
7,Finding Dory,BV,486300000.0,542300000,2016,17454,"[12, 16, 35, 10751]",127380,en,Finding Dory,15.393,2016-06-17,7.0,7845,46,"Jun 17, 2016",Finding Dory,"$200,000,000","$486,295,561","$1,021,215,193"
8,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,7.3,13457,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
9,The Dark Knight Rises,WB,448100000.0,636800000,2012,5182,"[28, 80, 18, 53]",49026,en,The Dark Knight Rises,26.220,2012-07-20,7.7,13933,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
10,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013,7893,"[12, 28, 878]",101299,en,The Hunger Games: Catching Fire,20.187,2013-11-22,7.4,11170,38,"Nov 22, 2013",The Hunger Games: Catching Fire,"$130,000,000","$424,668,047","$864,868,047"
11,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018,23829,"[28, 12, 878]",351286,en,Jurassic World: Fallen Kingdom,34.958,2018-06-22,6.5,5995,13,"Jun 22, 2018",Jurassic World: Fallen Kingdom,"$170,000,000","$417,719,760","$1,305,772,799"
12,Toy Story 3,BV,415000000.0,652000000,2010,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,7.7,8340,47,"Jun 18, 2010",Toy Story 3,"$200,000,000","$415,004,880","$1,068,879,522"
13,Wonder Woman,WB,412600000.0,409300000,2017,20628,"[12, 14, 10752, 10749]",297762,en,Wonder Woman,31.618,2017-06-02,7.3,12566,55,"Jun 2, 2017",Wonder Woman,"$150,000,000","$412,563,408","$821,133,378"
14,Wonder Woman,WB,412600000.0,409300000,2017,8674,"[28, 14]",241224,en,Wonder Woman,2.841,2013-09-29,5.9,34,55,"Jun 2, 2017",Wonder Woman,"$150,000,000","$412,563,408","$821,133,378"
15,Iron Man 3,BV,409000000.0,805800000,2013,7881,"[28, 12, 878]",68721,en,Iron Man 3,32.093,2013-05-03,6.9,14155,48,"May 3, 2013",Iron Man 3,"$200,000,000","$408,992,272","$1,215,392,272"

In [20]:
tn['release_date'].isnull().sum()

0

In [21]:
tn['movie'].isnull().sum()

0

In [22]:
tn['production_budget'].isnull().sum()

0

In [23]:
tn['domestic_gross'].isnull().sum()

0

In [24]:
tn['worldwide_gross'].isnull().sum()

0

In [25]:
import pandas as pd
import sqlite3
import zipfile as zf
import os

In [26]:
files = zf.ZipFile('./data/im.db.zip', 'r') #these lines create a im.db file which is too big to push
files.extractall() #these lines create a im.db file which is too big to push

In [27]:
con = sqlite3.connect("./im.db")

In [28]:
titles = pd.read_sql("""
Select * 

From movie_basics
            
""", con)
titles

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary

In [29]:
#pd.read_sql("""
#Select * 

#From known_for
            
#""", con).head()

In [30]:
#pd.read_sql("""
#Select * 

#From movie_akas
            
#""", con).head()

In [31]:
rating = pd.read_sql("""
Select * 

From movie_ratings
            
""", con)

rating

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [32]:
pd.read_sql('''
    SELECT *
    
    FROM
    movie_ratings
    
    INNER JOIN movie_basics
        USING(movie_id) 
     
     WHERE numvotes >= 1000
     
     ORDER BY 
         averagerating DESC
    
    LIMIT 20
''', con)

#We need to choose and averagerating number for a WHERE clause
#If we feel like we need more ratings data we can combine this with budget_rating_gross

,movie_id,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt7131622,9.7,5600,Once Upon a Time ... in Hollywood,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama"
1,tt6058226,9.6,2604,Ekvtime: Man of God,Ekvtime: Man of God,2018,132.0,"Biography,Drama,History"
2,tt4131686,9.6,1339,I Want to Live,I Want to Live,2015,106.0,"Adventure,Biography,Documentary"
3,tt5963218,9.5,6509,Aloko Udapadi,Aloko Udapadi,2017,113.0,"Drama,History"
4,tt7738784,9.4,9629,Peranbu,Peranbu,2018,147.0,Drama
5,tt5813916,9.3,100568,The Mountain II,Dag II,2016,135.0,"Action,Drama,War"
6,tt5354160,9.3,18470,Aynabaji,Aynabaji,2016,147.0,"Crime,Mystery,Thriller"
7,tt2170667,9.3,17308,Wheels,Wheels,2014,115.0,Drama
8,tt5593384,9.3,1220,Truth and Justice,TÃµde ja Ãµigus,2019,165.0,Drama
9,tt5773402,9.2,1096,Dominion,Dominion,2018,120.0,Documentary
10,tt5311546,9.2,4297,Natsamrat,Natsamrat,2016,166.0,"Drama,Family"
11,tt4733046,9.2,1015,The Weight of Chains 2,The Weight of Chains 2,2014,124.0,"Comedy,Documentary,History"
12,tt7391996,9.2,2195,C/o Kancharapalem,C/o Kancharapalem,2018,152.0,Drama
13,tt2592910,9.2,41560,CM101MMXI Fundamentals,CM101MMXI Fundamentals,2013,139.0,"Comedy,Documentary"
14,tt2869878,9.2,1172,The Poodles: In the Flesh,The Poodles: In the Flesh,2010,152.0,Documentary
15,tt3557258,9.2,1119,Caur Adatu,Caur Adatu,2014,74.0,"Biography,Documentary,Drama"
16,tt6679360,9.2,2721,On vam ne Dimon,On vam ne Dimon,2017,50.0,Documentary
17,tt9231140,9.1,4162,A Man Called Ahok,A Man Called Ahok,2018,102.0,Drama
18,tt5732482,9.1,1766,Hans Zimmer: Live in Prague,Hans Zimmer: Live in Prague,2017,150.0,"Documentary,Music"
19,tt2412748,9.1,1013,Saving Mes Aynak,Saving Mes Aynak,2014,60.0,Documentary

In [33]:
#rating['movie_id'].isnull().sum()

In [34]:
#rating['averagerating'].isnull().sum()

In [35]:
#rating['numvotes'].isnull().sum()

In [36]:
#pd.read_sql("""
#Select * 

#From persons
#where primary_profession like '%director%'
            
#""", con) #keep in back-pocket
        # maybe discuss in the next-steps

In [37]:
#pd.read_sql("""
#Select * 

#From principals
            
#""", con).head()
#keep in back-pocket

In [38]:
#pd.read_sql("""
#Select * 

#From writers
            
#""", con).head()
#back pocket?

In [39]:
con.close() #have this everytime just in case

In [40]:
os.remove('im.db') #This line deletes the im.db file created earlier.